@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 50vh;
  width: 100%;
  padding: 90px 0;
  background: #ffffff;
}
.pic{
  height: 350px;
  width:  420px;
}
.about{
  width: 1120px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
  
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}

.mission-vision {
  width: 1600px;
  max-width: 100%;
  margin-top: 50px;
  align-items: center;
}

.mission-vision h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.mission-vision p {
  margin-bottom: 10px;
}
.back-button {
  background-color: #3186e1; /* Set background color */
  color: white; /* Set text color */
  border: 2px solid #3186e1; /* Set border style */
  padding: 5px 45px; /* Set padding */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Set border radius */
}

.back-button:hover {
  background-color: #3186e1; /* Change background color on hover */
}